<div class="contente">
    <!-- From Uiverse.io by 00Kubi -->
    <div class="container noselect" *ngFor="let game of gameList" >
        <div class="canvas">
            <div class="tracker tr-1"></div>
            <div class="tracker tr-2"></div>
            <div class="tracker tr-3"></div>
            <div class="tracker tr-4"></div>
            <div class="tracker tr-5"></div>
            <div class="tracker tr-6"></div>
            <div class="tracker tr-7"></div>
            <div class="tracker tr-8"></div>
            <div class="tracker tr-9"></div>
            <div id="card" [ngStyle]="{'background-image': 'url('+game.image+')'}">
                <div class="card-content">
                    <div class="card-glare"></div>
                    <div class="cyber-lines">
                        <span></span><span></span><span></span><span></span>
                    </div>
                    <p id="prompt">{{game.nom}}</p>
                    <div class="title">{{game.nom}}</div>


                    <div class="glowing-elements">
                        <div class="glow-1"></div>
                        <div class="glow-2"></div>
                        <div class="glow-3"></div>
                    </div>
                    <div class="subtitle">
                        <div class="genre">Auteur: {{game.auteur}}</div>
                        <div class="genre">Genre: {{game.genre}}</div>
                        <span>{{game.id}}</span>
                        <span class="highlight">Edition:{{game.numEdition}}</span>
                    </div>
                    <div class="card-particles">
                        <span></span><span></span><span></span> <span></span><span></span><span></span>
                    </div>
                    <div class="corner-elements">
                        <span></span><span></span><span></span><span></span>
                    </div>
                    <div class="scan-line"></div>
                </div>
            </div>
        </div>
    </div>

</div>