
    <!-- FORMULAIRE DE CONNEXION From Uiverse.io by Yaya12085 --> 
<div class="form-container" >
	<p class="title">Connexion</p>
	<form [formGroup]="loginForm" (ngSubmit)=" Connection()" class="form">
		<div class="input-group">
			<label for="username">nom d'utilisateur</label>
			<input type="email" formControlName="email" placeholder="visiplus@email.com"  required>
		</div>
		<div class="input-group">
			<label for="password">Mot de passe</label>
			<input type="password" formControlName="psw" placeholder="Mot de passe "  required>
			<div class="forgot">
			</div>
		</div>
		<button class="sign">Se connecter</button>
	</form>
		<div class="social-message">
		<div class="line"></div>
		<p class="message">Vous n'avez pas de compte?</p>
		<div class="line"></div>
	</div>
	<p class="signup">
		<a type="button" (click)="btnInscription()">S'inscrire</a>
	</p>
</div>
