<div>
  <!-- MODAL -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form class="modal-dialog modal-dialog-centered" [formGroup]="avisForms" (ngSubmit)="postAvis()">
      <div class="rating-card modal-content ">
        <div class="modal-header">
          <h5 class="card-title" id="staticBackdropLabel">Ajouter votre avis</h5>
        </div>
        <div class="modal-body">

          <input class="note" type="number" formControlName="note" min="1" max="10" placeholder="Note ">
          <div class="erreur" *ngIf="avisForms.get('note')?.invalid && avisForms.get('note')?.touched">
            La note doit être comprise entre 1 et 10.
          </div>
          <textarea min="20" max="150" class="card-text form-control mb-3" formControlName="commentaire"
            placeholder="Partagez votre expérience concernant ce jeu">
        </textarea>
          <div class="erreur" *ngIf="avisForms.get('commentaire')?.invalid && avisForms.get('commentaire')?.touched">
            Votre commentaire doit comporter entre 10 et 150 caractères.
          </div>
        </div>
        <div class="modal-footer container-btn">
          <button type="submit" class="btn btn-accept" >Publier</button>
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Annuler</button>
        </div>
      </div>
    </form>
  </div>
<!-- AFFICHAGE DES AVIS -->
  <div class="affichage">
    <div class="card" *ngFor="let avis of listAvis">
      <div class="container">
        <div class="left">
          <div class="status-ind">
            <svg width="50px" height="50px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path
                d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464l349.5 0c-8.9-63.3-63.3-112-129-112l-91.4 0c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3z" />
            </svg>
          </div>
        </div>
        <div class="right">
          <div class="text-wrap">
            <p class="text-content">
              <a class="text-link">{{avis.name}}</a>
              <br>
              Note : <a> {{avis.note}}</a>
            </p>
            <p class="time">2 hours ago</p>
          </div>
          <div class="button-wrap">

            <p class="secondary-cta">{{avis.commentaire}}</p>
          </div>
        </div>
      </div>
      <!-- SUPPRESSION D'UN AVIS -->
      <div class="trash" (click)="deleteAvisById(avis.id)" onclick="location.reload()">
        <svg  width="30px" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512">
          <path fill="#ff0000"
            d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z" />
        </svg>
      </div>
    </div>

  </div>
</div>